<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options Api Fundatmentals</title>
</head>
<body>
    <div id="shopping-list">
        <h1>{{header ? header : 'Welcome'}}</h1>
        <input type="text" placeholder="Add an item" v-model="newItem">
        <button @click="addItem">Add Item</button>

        <ul>
            <li v-for="item in items" :key="item.id"> {{item.label}}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const shoppingList = Vue.createApp({
            data() {
                return {
                    header: "Shopping List App",
                    newItem: '',
                    newItemHighPriority: false,
                    items: [
                        { id: 1, label: "Soda"},
                        { id: 2, label: "Beer"},
                        { id: 3, label: "Wine"}
                ]
                }
            },
            methods : {
                addItem() {
                    this.items.push(this.newItem)
                }
            }
        })
        .mount('#shopping-list')
    </script>
</body>
</html>