<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options Api Fundatmentals</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div id="shopping-list">
        <h1>{{header ? header : 'Welcome'}}</h1>
        <input @keyup.enter="items.push({id:items.length +1 , label: newItem})" type="text" placeholder="Add an item" v-model="newItem">
        <button class="btn btn-primary" @click="items.push({id:items.length +1 , label: newItem})">Save Item</button>
        <input type="checkbox" v-model="newItemHighPriority">High Priority    

        <ul>
            <li v-for="item in items" :key="item.id"> {{item.label}}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const shoppingList = Vue.createApp({
            data() {
                return {
                    header: "Shopping List App",
                    newItem: '',
                    newItemHighPriority: false,
                    items: [
                        { id: 1, label: "Soda"},
                        { id: 2, label: "Beer"},
                        { id: 3, label: "Wine"}
                ]
                }
            }
        })
        .mount('#shopping-list')
    </script>
</body>
</html>